<p>
  showdetail works!
</p>
<table id="datatable">
  <table  border=5px>
    <thead>
      <tr>
        <td><h3>FirstName</h3></td>
        <td><h3>LastName</h3></td>
        <td><h3>Gender</h3></td>
        <td><h3>Password</h3></td>
        <td><h3>Email</h3></td>
        <td><h3>EmpID</h3></td>
        
        
      </tr>
    </thead>
    <tr>
      <td>{{value.fname}}</td>
      <td>{{value.lname}}</td>
      <td>{{value.gender}}</td>
      <td>{{value.contactNo}}</td>
      <td>{{value.password}}</td>
      <td>{{value.empId}}</td>
    </tr>
  </table>
</table>
<div class="editbtn">
  <button (click)="editform()" type="submit">Edit</button>
</div>
